.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80vh; /* Adjust based on your header and nav bar width */
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.cause {
  font-size: 48px;
  margin-top: 320px;
  margin-bottom: 80px;
  margin-right: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  width:auto;
}

.image-container {
  display: flex;
  justify-content: space-around;
  gap: 70px; /* Add space between images */
  width: 100%;
  width: 100%; /* Adjust based on your header and nav bar width */
  max-width: 1500px;
  max-width: 600px;
  /* object-fit: cover; */

  /* margin-bottom: 400px; */
}

.cause_image {
  width: 310px;
  height: 310px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  object-fit: cover;
}

.cause_image:hover {
  transform: scale(1.1);
}

.image-overlay {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 35px;
  padding: 40px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-overlay:hover .overlay-text {
  opacity: 1;
}


/* Your existing styles for bottom nav */
